{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "{{ project_name }}-api"
  },
  "paths": {
    "/hello": {
      "get": {
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "arn:aws:apigateway:{{ aws_default_region }}:lambda:path/2015-03-31/functions/arn:aws:lambda:{{ aws_default_region }}:000000000000:function:{{ project_name }}/invocations"
        }
      }
    }
  }
}
