services:
  localstack:
    profiles: ["local", "stage"]
    image: localstack/localstack:4.7.0
    container_name: localstack
    ports:
      - "4566:4566"  # AWS services endpoint
      - "4510-4559:4510-4559"
    environment:
      - SERVICES={{ services | join(",") }}
      - DEBUG=1
      - DATA_DIR=/tmp/localstack/data
    volumes:
      - "{{ localstack_volume_dir | default('./volume') }}:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"

  lambda-debug:
    profiles: ["local"]
    build:
      context: ../
      dockerfile: infrastructure/local/Dockerfile.debug
      args:
        PROJECT_NAME: {{ project_name }}
    container_name: lambda-debug-${TARGET_ENV}
    ports:
      - "5005:5005"  # Debugger attach port for VSCode
      - "5000:5000"  # Local Proxy to trigger lambda functions
    environment:
      - TARGET_ENV=${TARGET_ENV}
      - AWS_ENDPOINT_URL=${AWS_ENDPOINT_URL}
      - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - LOCALSTACK_SECRETS_MANAGER_URL=${LOCALSTACK_SECRETS_MANAGER_URL}
      - DOTNET_USE_POLLING_FILE_WATCHER=1
      - DOTNET_RUNNING_IN_CONTAINER=true
    depends_on:
      - localstack
